{% extends 'base.html.twig' %}

{% block body %}
    <main id="landing" class="w-screen h-screen bg-blue-100">
        <div id="landing-background">
        </div>
        <section class="w-1/2 mx-auto -mt-10 bg-white shadow-md py-2 text-center rounded">
            <h1 class="text-4xl">Freelancer Tools</h1>
            <p>
                Enhance your productivity with some tools !
            </p>
        </section>
        <section class="w-1/2 flex mx-auto">
            <section class="w-1/2 p-4">
                <div class="border shadow bg-white rounded">
                    <header class="text-2xl text-center mb-2 pt-2 bg-blue-600 text-white rounded-t">
                        <h3>FREE</h3>
                    </header>
                    <main>
                       <ul class="px-4 text-center">
                           <li class="border-b border-gray-400 py-2">Manage your clients</li>
                           <li class="py-2">Create invoice</li>
                       </ul>
                    </main>
                </div>
            </section>
            <section class="w-1/2 p-4">
                <div class="border shadow bg-white rounded">
                    <header class="text-2xl text-center mb-2 pt-2 bg-blue-600 text-white rounded-t">
                        <h3>PREMIUM</h3>
                    </header>
                    <main>
                        <ul class="px-4 text-center">
                            <li class="border-b border-gray-400 py-2">All free features</li>
                            <li class="border-b border-gray-400 py-2">Send emails</li>
                            <li class="py-2">Notifications</li>
                        </ul>
                    </main>
                </div>
            </section>
        </section>
    </main>
{% endblock %}